@CHARSET "UTF-8";

/* -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- */
/* -- header部分 -- */

/*intro*/
.intro_header {
	background-color: #FFccFF;
	height: 120px;
	width: 2200px;
	
}

/*introヘッダのアイコン全体の書式*/
.childpage_icon {
	float: left;
	border: 1px solid black;
	width: 200px;
	height: 110px;
}

/*introヘッダのアイコン[紹介]*/
.childpage_icon_char {
	text-align: center;
	color: orange;
	font-size: 78px;
	text-shadow: 5px 5px 4px rgba(200,100,100,1);
}

/*introヘッダのアイコン[-introduction-]*/
.under_childpage_icon {
	text-align: center;
	color: green;
	margin: 0 auto;
	font-size: 18px;
}

/* -- メニューリストのスタイル --*/
/*メニューリストのスタイル*/
.floatmenu {
	width: 700px;
	height: 40px;
	border: 1px solid black;
}

/*アイコンのスタイル*/
.intro_menuicon {
	display: block;
	float: left;
	text-align: center;
	border: 1px solid black;
	border-radius: 5px;
	width: 120px;
	height: 40px;
	
	background-color: green;
}
/* -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- */
/*introメイン部分*/
.intro_main {
	clear: left;
	display: block;
	background-color: #ccFFFF;
	height: 450px;
	width: 2500px;
}

.intro_main_common {
	float: left;
	display: block;
	width: 600px;
	height: 500px;
	border: 1px solid black;
}

/* -- ページTOPのコンテンツ --*/
.intro_menu1{
	background-color: #FF0000;

}

.vcatch {
	position: absolute;
	left: 60%;
	height: 500px;
	width: 200px;
	background-color: #cccccc;
}

/*動きを見るための暫定的なクラス*/
.intext {
	float: left;
}

.infig {
	float: right;
}
/*【部長から】のコンテンツ*/
.intro_menu2{
	background-color: #00FF00;

}

.intro_menu3{
	background-color: #0000FF;

}

.intro_menu4{
	background-color: #00FFFF;

}


/* -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- */





